# Don't copy the git repos, the compiled node_modules, or anything else that isn't needed into the docker image.
# This greatly speeds up re-building the image.
**/.git
**/node_modules
**/Dockerfile
**/docker-compose.yml
**/Procfile
**/Vagrantfile
**/.devcontainer
**/.vscode
