# Don't copy the git repo, the compiled node_modules, or anything else that isn't needed into docker image.
# This greatly speeds up re-building the image.
.git
wagtail/node_modules
Dockerfile
docker-compose.yml
Procfile
Vagrantfile
